#btnHolder{
    display: flex;
    align-content: center;
    justify-content: space-evenly;
    background-color: #E8D71E;
    color: #E8292F;
    border-style: solid;
    border-width: 0.2rem;
    border-color: #E8292F;
    padding: 0.5rem;
    font-weight: 1000;
}

#content{
    background-color: #E8D71E;
    margin: 0.5rem;
    padding: 0.5rem;
    color: #E8292F;
    border-style: solid;
    border-width: 0.2rem;
    border-color: #E8292F;
}

